.u-section-1 .u-sheet-1 {
  min-height: 1158px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 639px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  width: 219px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 57px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 712px;
  grid-gap: 20px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/fg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-icon-1 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-icon-2 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/wewe.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-icon-3 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-icon-4 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/bf5831c7-be61-2575-6483-f38c1ca09a87.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-icon-5 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-icon-6 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    height: 111px;
    width: 111px;
  }

  .u-section-1 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-icon-2 {
    height: 111px;
    width: 111px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-icon-3 {
    height: 111px;
    width: 111px;
  }

  .u-section-1 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-icon-4 {
    height: 111px;
    width: 111px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-icon-5 {
    height: 111px;
    width: 111px;
  }

  .u-section-1 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-icon-6 {
    height: 111px;
    width: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.375rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.375rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.375rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.375rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2182px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }
}